<div class="filters">
   <md-input-container [floatPlaceholder]="auto" class="search" dividerColor="primary" align="start">
        <input mdInput #searchInput [(ngModel)]="query.search.value" (change)="filter()" type="text" placeholder="Search..">
    </md-input-container>
    <md-select #roleFilter [(ngModel)]="query.role.value" (change)="filter()" multiple class="filter" placeholder="Role">
        <md-option *ngFor="let role of roles" [value]="role.value">{{ role.title }}</md-option>
    </md-select>
    <md-select #sortFilter [(ngModel)]="query.sort.value" (change)="filter()" multiple class="filter" placeholder="Sort">
        <md-option *ngFor="let filter of filters" [value]="filters.value">{{ filter.value }}</md-option>
    </md-select>
</div>

<md-list>
    <md-list-item *ngFor="let user of users.content">
        <img md-list-avatar src="" alt="avatar">
        <h3 md-line>{{ user.firstName }} {{ user.lastName }}</h3>
        <p md-line>
            <span class="category">{{ user.email }}</span>
        </p>
        <a md-raised-button >Edit</a>
    </md-list-item>
</md-list>