<div class="filters">
   <md-input-container [floatPlaceholder]="auto" class="search" dividerColor="primary" align="start">
        <input mdInput [(ngModel)]="componentProperty" type="text" placeholder="Search..">
    </md-input-container>
    <md-select multiple class="filter" placeholder="Role">
        <md-option *ngFor="let filter of filters" [value]="filters.value">{{ filter.value }}</md-option>
    </md-select>
    <md-select multiple class="filter" placeholder="Sort">
        <md-option *ngFor="let filter of filters" [value]="filters.value">{{ filter.value }}</md-option>
    </md-select>
</div>
