
.loginWrapper{
    width: 100vw;
    height: 100vh;
    background-color: #3949ab;
}
.loginCard{
    width: 260px;
}
.loginCard .input{
    width: 100%;
}
.loginCard .actions{
    margin: 0;
    margin-right: -16px;
}
.loginCard .actions button{
    margin-right: 20px;
}
.loginCard .footer{
    text-align: left;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    margin: 8px 24px;
    box-sizing: border-box;
}

.mat-card-header-text{
    margin: 0px;
}
