<div class="loginWrapper" fxLayout="row" fxLayoutAlign="center center">
    <md-card class="loginCard">
        <md-card-header  >
            <md-card-title>Login</md-card-title>
            <md-card-subtitle>track-city</md-card-subtitle>
        </md-card-header>
        <!--<img md-card-image src="Card wide image source">-->
        <md-card-content>
            <md-input-container class="input" [floatPlaceholder]="always" dividerColor="primary" align="start">
                <input mdInput name="componentProperty" [(ngModel)]="componentProperty" type="text" required
                      placeholder="Email">
            </md-input-container>
            <md-input-container class="input" [floatPlaceholder]="always" dividerColor="primary" align="start">
                <input mdInput name="componentProperty" [(ngModel)]="componentProperty" type="text" required
                      placeholder="Password">
            </md-input-container>
        </md-card-content>
        <md-card-actions class="actions" align="start|end">
            <button md-raised-button (click)="login()">Login</button>
        </md-card-actions>
        <md-card-footer class="footer">
            version 1.0.0
        </md-card-footer>
    </md-card>
</div>

