
<h1 md-dialog-title>Edit user</h1>

<md-dialog-content>
    <md-input-container class="element" [floatPlaceholder]="auto" dividerColor="primary" align="start">
        <input mdInput type="text" required
               placeholder="First name">
    </md-input-container>
    <md-input-container class="element" [floatPlaceholder]="auto" dividerColor="primary" align="start">
        <input mdInput type="text" required
               placeholder="Last name">
    </md-input-container>
    <md-input-container class="element" [floatPlaceholder]="auto" dividerColor="primary" align="start">
        <input mdInput type="text" required
               placeholder="Email">
    </md-input-container>
    <md-input-container class="element" [floatPlaceholder]="auto" dividerColor="primary" align="start">
        <input mdInput type="text" required
               placeholder="Password">
    </md-input-container>
    <md-select class="elementSelect" placeholder="Municipality">
        <md-option *ngFor="let municipality of municipalities" [value]="municipality.id">{{ municipality.name }}</md-option>
    </md-select>
    <md-select class="elementSelect" placeholder="Role">
        <md-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</md-option>
    </md-select>
</md-dialog-content>

<md-dialog-actions class="actions">
    <button md-button md-dialog-close>Cancel</button>
    <button md-raised-button color="primary">Save</button>
</md-dialog-actions>
