.toolbar{ 
    position: absolute;
    z-index: 100;
    background: #3949ab;
    color: #fff;
    font-weight: normal;
}
.toolbar i{
    margin-right: 24px;
}
.navcontainer{
    height: 100vh;
}
.view{
    height: 100vh;
    width: 100%;
    padding-top: 64px;
    box-sizing: border-box;
}
.sidenav{
    padding-top: 64px;
}
.toggle{
    cursor: pointer;
}
.mat-sidenav{
    min-width: 160px;
}
.mat-fab, .mat-mini-fab {
    background-color: #d50000;
    color: white;
}
.fab{
    position: absolute;
    bottom: 40px;
    right: 64px;
    z-index: 1000;
}