<md-toolbar class="toolbar">
    <i class="toggle material-icons" (click)="sidenav.toggle()">menu</i>
    <span>{{ sdk.toolbarTitle }}</span>
</md-toolbar>

<md-sidenav-container class="navcontainer">
    <md-sidenav class="sidenav" #sidenav mode="side" align="start" opened="true">
        <md-nav-list>
            <md-list-item (click)="navigate(link.url)" *ngFor="let link of links">
                <md-icon>{{ link.icon }}</md-icon>
                {{ link.title }}
            </md-list-item>
            <md-list-item (click)="logout()">
                <md-icon></md-icon>
                Logout
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <!-- Body -->
    <div class="view">
        <router-outlet name="admin"></router-outlet>
    </div>
</md-sidenav-container>
