<md-toolbar>
    <i class="material-icons" (click)="sidenav.toggle()">menu</i>
    <span>Title</span>
</md-toolbar>

<md-sidenav-container>
    <md-sidenav #sidenav mode="side" align="start" opened="true">
        <md-nav-list>
            <md-list-item *ngFor="let link of links">
                <button md-icon-button (click)="showInfo(link.url)">
                    <md-icon>{{ link.icon }}</md-icon>
                    {{ link.title }}
                </button>
            </md-list-item>
        </md-nav-list>
    </md-sidenav>
    <!-- Body -->
    <div class="view">
        <router-outlet name="admin"></router-outlet>
    </div>
</md-sidenav-container>
