
<div class="filters">
   <md-input-container class="search" dividerColor="primary" align="start">
        <input mdInput [(ngModel)]="query.search.value" (change)="filter()" (keyup)="filter()" type="text" placeholder="Search..">
    </md-input-container>
</div>

<md-tab-group>
    <md-tab (click)="map.triggerResize(true)" label="List">

        <md-list class="list">
            <md-list-item *ngFor="let municipality of municipalities">
                <h3 md-line>{{ municipality.name }}</h3>
                <a md-raised-button (click)="openDialog()" class="action">Edit</a>
            </md-list-item>
        </md-list>
    </md-tab>
    <md-tab (click)="map.triggerResize(true)" label="Map" class="map">
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <sebm-google-map-marker *ngFor="let municipality of municipalities" [latitude]="municipality.latitude" [longitude]="municipality.longitude"></sebm-google-map-marker>
        </sebm-google-map>
    </md-tab>
</md-tab-group>
